@model IEnumerable<InmobiliariaGrosso.Models.Contrato>   

@{
    ViewData["Title"] = "Contratos Por Fechas";
}

@if (TempData["msg"] != null)
{
    <div class="row">
        <div class="col-sm-6">
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                <span>@TempData["msg"]</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                </button>
            </div>
        </div>
    </div>
}

<h1>Contratos Por Fechas</h1>
<hr />

<hr />
<table class="table" id="table_id">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdInmueble)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inquilino)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Desde)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hasta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MontoM)
            </th>            
            <th ></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        <a class="btn btn-primary" asp-action="Details" asp-controller="Inmuebles" asp-route-id="@item.IdInmueble">Ver</a>
                    </td>
                    <td>
                        <a class="btn btn-primary" asp-action="Details" asp-controller="Inquilinos" asp-route-id="@item.IdInquilino">@item.Inquilino.Nombre</a>
                     
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Desde)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Hasta)
                    </td>
                    <td>
                        $ @Html.DisplayFor(modelItem => item.MontoM)
                    </td>
                    
                    <td>
                            <a class="btn btn-warning" asp-action="Edit" asp-controller="Contratos" asp-route-id="@item.Id">Editar</a> 
                            <a class="btn btn-warning" asp-action="Details" asp-controller="Contratos" asp-route-id="@item.Id">Detalles</a>
                            <a class="btn btn-warning" asp-action="Delete" asp-controller="Contratos" asp-route-id="@item.Id">Borrar</a>
                            <a class="btn btn-warning" asp-action="Create" asp-controller="Pagos" asp-route-id="@item.Id">Pagos</a>
                            <a class="btn btn-warning" asp-action="Pagos" asp-controller="Contratos" asp-route-id="@item.Id">Pagos del Contrato</a>
                            <a class="btn btn-warning" asp-action="Renovacion" asp-controller="Contratos" asp-route-id="@item.Id">Renovacion</a>
                            
                            
                    </td>
                </tr>
            }
        }

    </tbody>
</table>

