@model IEnumerable<InmobiliariaGrosso.Models.Inmueble>

@{
    ViewData["Title"] = "Index";
}

<h1>Inmuebles</h1>

<p>
    <a class="btn btn-secondary" asp-action="Create"><i class="far fa-plus-square"></i>Crear Inmueble</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Uso)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Ambientes)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Superficie) 
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Latitud)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Longitud)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPropietario)
            </th>
            <th width="40">
                Disponible
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <th>
                @Html.DisplayFor(modelItem => item.Tipo)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.Uso)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.Ambientes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Superficie) m2
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Latitud)ยบ
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Longitud)ยบ
            </td>
            <td>
                @(item.Duenio.Nombre + " " + item.Duenio.Apellido)
            </td>
            <td class="text-center">
                        @Html.DisplayFor(modelItem => item.DisponibleN)
                    </td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-controller="Inmuebles" asp-route-id="@item.Id">Editar</a> 
                <a class="btn btn-warning" asp-action="Details" asp-controller="Inmuebles" asp-route-id="@item.Id">Detalles</a>
                <a class="btn btn-warning" asp-action="Delete" asp-controller="Inmuebles" asp-route-id="@item.Id">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
