@model InmobiliariaGrosso.Models.Pago

@{
    ViewData["Title"] = "Anular Pago";
}

@if (TempData["msg"] != null)
{
    <div class="row">
        <div class="col-sm-5">
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                <span>@TempData["msg"]</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                </button>
            </div>
        </div>
    </div>
}

<h1>Eliminar</h1>
<hr />
<h4>¿Está seguro que desea eliminar el pago?</h4>
<hr />
<div>
    <h4>Pago</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdContrato)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdContrato)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Monto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Monto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroPago)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumeroPago)
        </dd>
    </dl>

    <form asp-action="Delete" onsubmit="return confirmar()">
        <input type="submit" value="Eliminar" class="btn btn-danger" />
    </form>
</div>
<hr />
<div>
    <a class="btn btn-link" asp-action="Index" class="btn btn-primary">Lista de Pagos</a>
</div>

<script type="text/javascript">
        function confirmar() { return confirm("¿Eliminar Pago?") }
</script>