@model IEnumerable<InmobiliariaGrosso.Models.Pago>

@{
    ViewData["Title"] = "Lista de Pagos";
}

@if (TempData["msg"] != null)
{
    <div class="row">
        <div class="col-sm-4">
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                <span>@TempData["msg"]</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                </button>
            </div>
        </div>
    </div>
}

<h1>Pagos</h1>
<hr />
<p>
    <a class="btn btn-secondary" asp-action="Create"><i class="far fa-plus-square"></i> Cargar Nuevo</a>
</p>
<hr />
<table class="table" id="table_id">
    <thead>
        <tr>
            <th >
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th >
                @Html.DisplayNameFor(model => model.IdContrato)
            </th>
            <th >
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Monto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroPago)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td >
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td >
                    
                    <a asp-controller="Contratos" asp-action="Details" asp-route-id="@item.IdContrato">
                        @item.IdContrato
                    </a>
                </td>
                <td >
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td>
                   $ @Html.DisplayFor(modelItem => item.Monto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumeroPago)
                </td>
                <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-controller="Pagos" asp-route-id="@item.Id">Editar</a> 
                    <a class="btn btn-warning" asp-action="Details" asp-controller="Pagos" asp-route-id="@item.Id">Detalles</a>
                    <a class="btn btn-warning" asp-action="Delete" asp-controller="Pagos" asp-route-id="@item.Id">Borrar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
